[buildout]
extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-3.3.x.cfg

parts +=     
    omelette
    
    
package-name = cirb.getusers

test-eggs = 
versions = versions

[versions]
setuptools = 1.4.2
zc.buildout = 1.7.1

[instance]
eggs += Pillow

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[getusers-translation]
recipe = infrae.i18nextract
packages =
   cirb.getusers
output = ${buildout:directory}/cirb/getusers/locales/
output-package = cirb.getusers
domain = cirb.getusers
